/* reset */
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem sans-serif;
    margin: 0;
    line-height: 1.6rem;
    letter-spacing: .1rem;
}

h1,h2, h3, h4, h5, h6, p,
ol, ul, figure, div{
    margin: auto;
    padding: 1rem;
    list-style: none;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    height: 100%;
    width: 100%;
    display: inline-block;
    object-fit: cover;
    vertical-align: middle;
}

button {
  background: transparent;
  border: 0;
  font-size: inherit;
  cursor: pointer;
}


.page_presentation{
  background-color: #ffffff;
  color: #ffffff;
  height: 100vh;
}

header nav{
  background-color:#E2AE87;
}

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
 
}

.navbar i {
  font-size: 2.0rem;
  margin: 0 1rem;
  cursor: pointer;
}

button{
  background-color: #E2AE87;
  color: #E2AE87;
}

.navbar_droite {
  order: 1; /* Pour inverser l'ordre des éléments à gauche */
  margin: 0;
}

.navbar-gauche {
  order: 2;
  margin: 0rem;
}

header h1 {
    text-align: center;
    margin-top: 23rem;
}
#page_presentation h2 {
  text-align: center;
  margin-top: 3.5rem;
}

#page_presentation figcaption {
  margin: auto;
  max-width: 80%;
  font-size: large;
}

#Mon-bitmoji {
  height: 26rem;
  width: 25rem;
}
#competences{
    /* background-color: #A7A792; /* sage */
    background-color: #999987; /*battleship gray, passe encore */ 
    max-width: 80%;
    margin: auto;
    padding: 4rem;
    border-top-right-radius: 8rem 8rem;
    border-top-left-radius: 8rem 8rem;
  }

.liste_competences {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .liste_competences li {
    width: calc(25% - .7rem); /* 4 compétences en largeur avec un espace entre elles */
  }
  figure {
    text-align: center;
  }
  
  figure i {
    font-size: 7.2rem; /* Taille de l'icône plus grande */
    margin-bottom: 2.0rem;
  }
  
  figcaption {
    text-align: left;
  }
  
  figcaption h3 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  
  figcaption {
    font-size: 1.0rem;
    line-height: 1.4;
    text-align: center;
  }


.gallery {
  --n: 1; /* number of rows*/
  --m: 5; /* number of columns */
  --g: 0px;  /* control the gap */
  --f: .8;   /* control the scale factor */
  
  display: grid;
  gap: var(--g);
  max-width: 100%;
  height: 75vh;
  grid-template-columns: repeat(var(--m),auto);
}

.gallery > a > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale(80%);
  transition: .35s linear;
}
.gallery > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale(80%);
  transition: .35s linear;
}

.gallery img:hover{
  filter: grayscale(0);
  width:  calc(100vh*var(--f)/var(--n));
  height: calc(100vw*var(--f)/var(--m));
}
.container{
max-width: 75%;
}
body {
  margin: 0;
  background: #ffffff;
}

.darkmode {
  background-color: rgb(53, 49, 49);
  color: white;
}
.nav_darkmode {
  color: white;
  background-color:rgb(53, 49, 49);
}

#presentation {
  border-style: dashed;
  border-top-right-radius: 28% 28%;
  border-top-left-radius: 28% 28%;
  background-color: #E2AE87;
  margin: 15rem;

}