* reset */
html{
    font-size: 62.5;
    background: url(../asset/johndoe.webp) center center/ cover fixed;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem, sans-serif;
    margin: 0;
    line-height: 1.6rem;
    letter-spacing: .1rem;
}
h1,h2, h3, h4, h5, h6, p,
ol, ul, figure, div{
    margin: auto;
    padding: 1rem;
    list-style: none;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    height: 100%;
    width: 100%;
    display: inline-block;
    object-fit: cover;
    vertical-align: middle;

}
header h1 {
    text-align: center;
}

figure {
    max-width: 50%;
    margin: auto;
}

#competences{
    background-color: #7A7267;

}
#page_presentation{
    background-color: #E2AE87;
    height: 100vh;
}
#car_icon{
display: inline-block;
max-height: 2rem;
max-width: 2rem;
}
header nav{
    background-color:#E2AE87;
}
header  ul > li {
    display: inline-block;
    font-size: 1rem;
    line-height: 60px;
    text-align: right;
}


