/* reset */
html{
    font-size: 62.5;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem sans-serif;
    margin: 0;
    line-height: 1.6rem;
    letter-spacing: .1rem;
    background-color:  #E2AE87;
}
h1,h2, h3, h4, h5, h6, p,
ol, ul, figure, div{
    margin: auto;
    padding: 1rem;
    list-style: none;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    height: 100%;
    width: 100%;
    display: inline-block;
    object-fit: cover;
    vertical-align: middle;
}
/* #presentation figure{
  max-width: 20%;
}*/

.page_presentation{
  background-color: #E2AE87;
  height: 100vh;
}

header nav{
  background-color:#E2AE87;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar i {
  font-size: 2.0rem;
  margin: 0 1rem;
  cursor: pointer;
}

.navbar_droite {
  order: 1; /* Pour inverser l'ordre des éléments à gauche */
}

.navbar-gauche {
  order: 2;
}

header h1 {
    text-align: center;
}

#Mon-bitmoji {
  height: 26rem;
  width: 25rem;
}
#competences{
    background-color: #7A7267;
    max-width: 90%;
    margin: auto;
    padding: 4rem;
    border-top-right-radius: 7%;
    border-top-left-radius: 7%;
}

.liste_competences {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .liste_competences li {
    width: calc(25% - .7rem); /* 4 compétences en largeur avec un espace entre elles */
  }
  figure {
    text-align: center;
  }
  
  figure i {
    font-size: 7.2rem; /* Taille de l'icône plus grande */
    margin-bottom: 2.0rem;
  }
  
  figcaption {
    text-align: left;
  }
  
  figcaption h3 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  
  figcaption {
    font-size: 1.0rem;
    line-height: 1.4;
    text-align: center;
  }
  
  

  